.flightsBlock {
  ::-webkit-scrollbar {
    width: 6px;
    background: linear-gradient(to right, transparent 50%, #e7e7e7 50%);
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, transparent 50%, #1157a7 50%);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to right, transparent 50%, #253861 50%);
  }
}

.selectedFlights {
  font-weight: 300;
  font-size: 17px;
  letter-spacing: -0.4px;
  color: #424242;
  margin-bottom: 5px;
  margin-top: 20px;
  span {
    color: #1157a7;
  }
}

.flights {
  width: 600px;
  overflow-y: auto;
  height: 515px;
}

.notFlights {
  font-size: 30px;
  letter-spacing: -0.4px;
  color: #424242;
  margin-top: 20px;
}
